In [23]:
import os
import pandas as pd
import geopandas as gdp
import numpy as np

In [2]:
from funzioni_per_riclassificare import assign_country

In [3]:
os.listdir("../dati")

['summedData.csv',
 'ds27_pop_sto_quartiere.csv',
 'compactData.csv',
 'shape',
 '.ipynb_checkpoints']

In [31]:
data = pd.read_csv("../dati/ds27_pop_sto_quartiere.csv", sep = ";")

In [33]:
data["regione"] = data['Cittadinanza'].apply(lambda x: assign_country(x)[0])
data["continente"] = data['Cittadinanza'].apply(lambda x: assign_country(x)[1])

#data.drop('Cittadinanza', inplace = True, axis = 1)

In [34]:
data.head()

,Anno,IdNil,Nil,Eta,Genere,Cittadinanza,Residenti,regione,continente
0,1999,1,Duomo,0,Femmine,"Cinese, Rep. Popolare",1,eastas,asia
1,1999,1,Duomo,0,Femmine,Egitto,1,noraf,africa
2,1999,1,Duomo,0,Femmine,Etiopia,1,ssaf,africa
3,1999,1,Duomo,0,Femmine,Filippine,3,seas,asia
4,1999,1,Duomo,0,Femmine,Italia,88,ita,italia

In [ ]:
data.columns

Index(['Anno', 'IdNil', 'Nil', 'Eta', 'Genere', 'Cittadinanza', 'Residenti',
       'regione', 'continente'],
      dtype='object')

In [ ]:
pandas_to_json = pd.pivot_table(data, values='Residenti', index=['Anno', 'IdNil', 'Nil', 'Eta', 'Cittadinanza', "regione", "continente"], columns=['Genere'], aggfunc=np.sum)

In [ ]:
pandas_to_json2 = pandas_to_json.reset_index()

In [ ]:
pandas_to_json2.fillna(0, inplace = True)
pandas_to_json2["Totale"] = pandas_to_json2["Femmine"] + pandas_to_json2["Maschi"]

In [ ]:
pandas_to_json2.to_dict(orient = "records")

In [30]:
#pandas_to_json2.to_json("../dati/Mappa1.json", orient = "records") #viene un file enorme.. perch√® non generare subi